spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/book_social_network_db
    username: postgres
#    password: PostgreSQLPass@2025
    password: ${POSTGRES_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  mail:
    host: ${EMAIL_HOST_NAME}
    port: 1025
    username: ${EMAIL_USER_NAME}
    password: ${EMAIL_PASSWORD}
#    host: localhost
#    port: 1025
#    username: test_user
#    password: test_password
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          ssl:
            trust: "*"
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

application:
  security:
    jwt:
      secret-key: 574bd4489ea13eebdded1629c0eb94a774bf9c48ea61cdce4fa536bdd91cbcc8
      expiration: 864000000

  mailing:
    frontend:
      activation-url: http://localhost:4200/activate-account

  file:
    uploads:
      photos-output-path: ./uploads

server:
  port: 8088
